header.header
  .container
    .row.d-flex.justify-content-center
      .col-4.d-flex.justify-content-between
        a(href="/").contact-link Личная информация
        a(href="/").contact-link Опыт
        a(href="/").contact-link О себе
        
