header.header
  .container
    .row.d-flex.justify-content-center
      .col.col-md-8.d-flex.justify-content-between
        a(href='javascript:void').contact-link.contact-link--info Личная информация
        a(href='javascript:void').contact-link.contact-link--experience Опыт
        a(href='javascript:void').contact-link.contact-link--about О себе
        
